
services:
  backend:
    build:
      context: ./backend
      target: runtime
    container_name: bfg_backend_prod
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    depends_on:
      - db
    volumes:
      - media_data:/app/media
    environment:
      - API_KEY=${SECRET_API_KEY}
    restart: unless-stopped


  db:
    image: postgres:15
    container_name: bfg_database_prod
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
      #dockerfile: Dockerfile  # multistage: builder + runner
      #target: runner          # <-- specifica lo stage finale
    container_name: bfg_frontend_prod
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - API_KEY=${SECRET_API_KEY}
    depends_on:
      - backend


  bookstack:
    image: linuxserver/bookstack@sha256:7f46081f96e7d6cc24e860965edcab0ef54d69667ffa253444ee68f979a5c792
    container_name: bfg_bookstack
    env_file:
      - .env
    ports:
      - "6875:80"
    volumes:
      # Uploads persistenti
      - bookstack_uploads:/config/www/uploads
      # Storage persistente (cache, loghi, etc.)
      - bookstack_data:/config/www/storage
    restart: unless-stopped
    depends_on:
      - bookstack_db

  bookstack_db:
    image: mariadb:10.11
    container_name: bfg_bookstack_db
    env_file:
      - .env
    volumes:
      - bookstack_db_data:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 60s
      retries: 20

volumes:
  postgres_data:
  media_data:
  bookstack_uploads:
  bookstack_data:
  bookstack_db_data:

# Per avviare in produzione, usa:
# podman-compose -f docker-compose.prod.yml up --build 
