
services:
  backend:
    build:
      context: ./backend
      target: runtime
    container_name: bfg_backend
    # In development, use runserver for hot reload:
    # command: python manage.py runserver 0.0.0.0:8000
    # In production (with Supervisor), comment the line above and use default CMD
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    environment:
      - API_KEY=${SECRET_API_KEY}
      # MQTT Service Configuration
      - MQTT_INSTANCE_ID=bkode
      - MQTT_CLEAN_SESSION=true
      - MQTT_LWT_ENABLED=true
      - MQTT_KEEP_ALIVE=60
      - MQTT_SHUTDOWN_TIMEOUT=5

  db:
    image: postgres:15
    container_name: bfg_database
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - bfg_postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: bfg_redis
    ports:
      - "6379:6379"
    volumes:
      - bfg_redis_data:/data

  frontend:
    build:
      context: ./frontend
      # dockerfile: Dockerfile fixare
      # target: builder fixare
    container_name: bfg_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - API_KEY=${SECRET_API_KEY}
    command: npm run dev
    depends_on:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: bfg_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  bfg_postgres_data:
  bfg_redis_data:
